html{
    height: 100%;
    
}


body {
    font-family: Arial, sans-serif;
    background-image: url("build.jpg");
    background-position: 100%;
    background-size: 100% 100%;
    background-size: 100%;
    background-repeat : repeat;
   
    margin: 0px;
    height: 100%  ;

}


h1{
    color: wheat;
    position: relative;
    top: 20px;
    
}

.contain{

    height: 100%;
    margin: 0px;
}


@keyframes fadeInDown {
    0% {
        opacity: 0;
        transform: translate3d(0, -200%, 0);
    }
    to {
        opacity: 1;
        transform: translateZ(0);
    }
}
img {
    width: 200px;
    height: 200px;
    position: fixed;
    top: 40%;
    left: 53%;
    animation: fadeInDown 1s;
  }
  
.pont{
    color: white;
    font-size: 130%;
    position: fixed;
    top: 100px 100px;
    left: 68%; 
    
}


.cup {
    color: white;
    font-size: 50px;
}

.Capacity{
    position:relative;
    font-size: 30px;
    left: 40px;
 
}

.Resentment{
    position: fixed;
    left: 55%;
    top: 20%;
    color: white;
    background-color: #1D1D1D;
    border-radius: 10px;

}
.container{
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}


button {
    background-color: #000000;
    color: #fff;
    text-align: center;
    padding: 10px 60px;
    border: 2px solid #304CB2;
    border-radius: 30px;
}
.rowflex-rowwrap{
   position: fixed;
   left: 10px;
}


.title {
    color: white;
 
    font-size: 30px;
            padding: 9px 14px;
    border-radius: 8px;
}

.bg {
    width: 360px;
    size: 100%;
    position: relative;
    left: 90%;
    top: 30%;
    background-image: url("https://ifh.cc/g/f4MBya.jpg");
}



    
      