<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>구찌 광고</title>
    <link rel="stylesheet" href="{{ url_for('myapp.static', filename='/styles4.css') }}" />
</head>
<body>
    
    
    <div class="wrapper">
        <h1 class="title">Gucci</h1>
        <ul class="Gucci"> 
            <li class="Gucci-item bag" >
                <img class="Gucci-item-cover" 
                src="/myapp/static/bee1.jpg">
                <div class="Gucci-item-contents">
                    <h2>Gucci Bee  Clutch Bag</h2>
                    <p>▶ 구찌 GG슈프림 꿀벌 프린팅 스트랩 클러치백 473904 상품
                    ▶ 더블 G로고 PVC캔버스에 꿀벌 장식이 프린팅된 구찌 클러치백
                    ▶ 탈부착 가능한 스트랩으로 휴대하시기 편리한 장점 보유    
                    ▶ 내부 베이지 컬러의 패브릭 소재 마감, 내부 카드포켓 보유    </p>
                </div>
            </li>
            <li class="Gucci-item cap">
                <img class="Gucci-item-cover" src="/myapp/static/bee2.jpg">
                <div class="Gucci-item-contents">
                    <h2>Gucci GG Bee Cap</h2>
                    <p>▶ 구찌GG 슈프림 시그니처 꿀벌 매쉬캡 426887 4HB12 상품
                    ▶ 색상 GG베이지, 벌(BEE), 블랙 메쉬                        
                    ▶색상 GG베이지, 벌(BEE), 블랙 메쉬   
                    ▶ 내부 베이지 컬러의 패브릭 소재 마감, 캔버스, 메쉬   
                    ▶ 사이즈 : M - 58cm   
                    ▶ 구성품 : 북렛, 컨트롤카드</p>
                </div>
            </li>
            <li class="Gucci-item backpack">
                <img class="Gucci-item-cover" src="/myapp/static/bee4.jpg">
                <div class="Gucci-item-contents">
                    <h2>Gucci  Bee Backpack</h2>
                    <p>▶ Gucci(구찌) 442892 GG로고 삼색 꿀벌 스티치 수프림 백팩                      
                    ▶색상 브라운 계열 ▶ 내부 베이지 컬러의 패브릭 소재 마감, 캔버스, 메쉬   
                    ▶ 사이즈 : 가로 31CM / 세로 40CM / 밑면가로 31CM / 폭 13.5CM / 뒷줄길이 ~ 최대 82CM
                    ▶ 재질: PVC / 가죽 입니다.</p>
                </div>
            </li>
        </ul>
        <button class="button"><a href="{{ url_for('myapp.Gucci') }}">광고영상</a></button>  
        <div class="controlsd">
            <button class="vods" onClick="history.back();">Back</button>
        </div>
    </div>
    
    

</body>
</html>
